@include products-main;


.text2__title {
    margin-bottom: 15px;
    line-height: 25px;
    text-align: center;
}

.left__sidebar__menu {
    margin-top: 15px;
}

.main__bottom {
    margin-top: -20px;
}

.main__content__text>span {
    color: $main-color;
    @include Roboto(700);
    font-size: 15px;
}
.smartpoint{
    width: 80%;
    margin: 0 10%;
}
