
 @keyframes menu {
     from {
         height: 0px;
     }

     to {
         height: 418px;
     }
 }

 @-webkit-keyframes menu {
     from {
         height: 0px;
     }

     to {
         height: 418;
     }
 }

  