@include products-main;

.main__content__text1 {
    margin-bottom: 30px;
}

.text2__title {
    margin: 15px;
}

.main__bottom {
    margin-top: -20px;
}
.smartpoint{
    margin-bottom: 15px;
}
.myth1{margin-top: 15px;
}
.myth4{
    margin-top: 20px;
}
.myth5 {
    margin-top: 20px;
}

.img__title{
    width: 103%;
    margin-left:- 3%;
    margin-bottom: 15px;
}